name: Regenerate grunt-rockets.json

on:
  schedule:
    - cron: '0 4 * * 3' # Run every Wednesday at 4:00 AM
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ github.token }}
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
      - name: Rebuild MD files
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          cd grunt-rockets;
          npm ci;
          npm run build;
          npm run generate-artifacts;
          git add artifacts;
          
          if ! git diff --cached --quiet; then
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git commit -m "Auto-update Rocket Grunts"
            git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git HEAD:$(git rev-parse --abbrev-ref HEAD)
          fi
